table{
	border-collapse : separate;
	width           : 100%;
	thead{
		th{
			padding         : 0px;
			margin          : 0px;
			border-collapse : separate;
		}
	}

	td{
		position : relative;
		padding  : 0px;
		margin   : 0px;
	}

	&.calendar-date-time-ui{
		margin           : 0px auto 10px;
		border-radius    : 3px;
		border           : thin solid #c6c6c6;
		background-color : #ffffff;

		.previous,
		.next{
			cursor : pointer;
			.btn{
				margin-bottom : 0px;
				padding       : 0px 13px;
				font-size     : 11px;
				margin        : 0px 10px;
				cursor: pointer;
			}
		}
		.calendar-heading{
			border-bottom    : 1px solid #c6c6c6;
			background-color : #f7f7f7;
			font-family      : font-semi-bold;
			text-transform   : uppercase;
			position         : relative;
			text-align       : center;
			height           : 45px;
			font-size        : 12px;

			th{
				border-bottom : 1px solid #c6c6c6;
			}
		}

		.calendar-week-names{
			height    : 25px;
			font-size : 12px;
		}

		.btn{
			margin-bottom : 0px;
			padding       : 0px;
			min-height    : 37px;
			min-width     : 37px;
		}
		.cal-btn-months{
			color           : #444444;
			text-decoration : none;
			position        : absolute;
			top             : 12px;
			&.pull-right{
				right : 7px;
			}

			[class*="icon-"]{
				margin : 4px 6px;
			}
		}

		.cal-btn{
			width            : 100%;
			padding          : 3px 1px;
			border           : none;
			background-color : #f7f7f7;
			border-radius    : 2px;

			&[disabled]{
				background-color : #ffffff;
				color            : #c6c6c6;
				border           : none;
				opacity          : 1;
			}
			+ .price-tag{
				display : none;
			}

			&.date-info,
			&.date-info:hover,
			&.date-info:focus,
			&.date-info:active,
			&.date-info.active,
			&.date-info.disabled,
			&.date-info[disabled]{
				border           : 1px solid blue;
				background-color : #f7f7f7;
				+ .price-tag{
					position         : absolute;
					background-color : green;
					color            : #ffffff;
					display          : inline;
					top              : -22px;
					left             : -5px;
					padding          : 2px;
					letter-spacing   : 1px;
					z-index          : 1;
					border-radius    : 3px;

					&:before{
						content      : '';
						left         : 50%;
						width        : 0px;
						height       : 0px;
						bottom       : -8px;
						margin-left  : -5px;
						border-style : solid;
						position     : absolute;
						border-width : 10px 5px 0 5px;
						border-color : green transparent transparent transparent;
					}
				}
			}

		}
		.btn-default:hover{
			color : #444444
		}
	}
}
